/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/app/private
/storage/app/public
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/docker/data

.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
composer.lock

.DS_Store
.idea
.vscode
